# User-specific stuff
.idea/
test_data/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Windows shortcuts
*.lnk

.gradle
build/

**/build/

# Common working directory
run/
runs/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
